---
import IcGithub from "@/components/icons/IcGithub.astro";
import IcLinkedin from "@/components/icons/IcLinkedin.astro";
import IcMaildotru from "@/components/icons/IcMaildotru.astro";
import cv from "@/cv.json";
import meSrc from "@/assets/me.jpeg";
import Badge from "@/components/Badge.astro";

const { email, name, profiles, job } = cv.basic;

const SOCIAL_NETWORK: Record<string, any> = {
  github: IcGithub,
  linkedin: IcLinkedin,
};
---

<section class='relative w-full font-light text-sm leading-normal flex flex-col items-center justify-center gap-4'>
  <div class="flex flex-col items-center gap-4">
    <figure class='w-32 h-32 overflow-hidden rounded-full'>
      <img
        class='w-full h-full object-cover object-top'
        src={meSrc}
        alt={name}
      />
    </figure>
    
    <div class="leading-snug flex flex-col text-center text-5xl font-semibold">
      <h2 class='text-2xl font-normal flex justify-center items-center gap-2 text-center leading-relaxed'>
        Hey, soy {name} 👋  <Badge>Disponible para trabajar</Badge>
      </h2>
      <h2>
        fronted develoer web
      </h2>
      <p>
        viviendo en México
      </p>
      <p class="text-sm text-gray-400 font-normal text-center max-w-xl leading-relaxed">
  
        Soy Frontend Developer con conocimientos en <em>JavaScript</em> y <em>React</em>, siempre buscando mejorar la
        experiencia del usuario. 
      </p>
    </div>
  </div>
    <ul class='flex items-center justify-start gap-4 self-start'>
      <li>
          <a
            href={`mailto:${email}`}
            target='_blank'
            aria-label={`Enviar correo electrónico a ${email}`}
            title={`Enviar correo electrónico a ${email}`}
            tabindex='0'
            class='bg-white/20 flex items-center gap-2 text-xs px-3 py-1.5 rounded-full'><IcMaildotru />{email}</a
          >
      </li>
      {
        profiles.map(({ network, url, username }, idx) => {
          const IcNetwork = SOCIAL_NETWORK[network.toLowerCase()];
          return (
            <li>
                <a
                  href={url}
                  target='_blank'
                  rel='noopener noreferrer'
                  aria-label={`Visitar perfil de ${username} en ${network}`}
                  title={`Visitar perfil de ${username} en ${network}`}
                  tabindex={`${idx + 1}`}
                  class='bg-white/20 flex items-center gap-2 text-xs px-3 py-1.5 rounded-full'
                >
                  <IcNetwork />
                  {network}
                </a>
            </li>
          );
        })
      }
    </ul>
</section>
