---
import type { Project } from '../share/types';
import Chip from './Chip.astro';
import Thumbnail from './Thumbnail.astro';
import github from '../assets/icons/github.svg'

interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<li>
	<article
		class='w-full h-full flex flex-col overflow-hidden rounded-xl font-light outline outline-1 outline-white/20 tracking-wide'>
		<Thumbnail name={project.name} thumbnail={project.thumbnail} />
		<div class='flex flex-col justify-between items-start gap-4 p-4'>
			<p class='font-bold'>{project.name}</p>
			<p class="text-sm">{project.description}</p>
			<ul class='flex justify-start gap-4 flex-wrap'>
				{
					project.skills.map((skill) => (
						<li>
							<Chip>{skill}</Chip>
						</li>
					))
				}
			</ul>
		</div>
		<footer class='w-full flex justify-end items-end flex-grow p-4'>
			<a
				href={project.repository}
				target='_blank'
				rel='noreferrer'
				class='cursor-pointer bg-white/10 text-sm flex items-center justify-between gap-2 hover:bg-white/20 transition-colors duration-150 ease-in-out py-2 px-3 rounded'
				><img src={github} width={18} /> Ver código</a
			>
		</footer>
	</article>
</li>
