---
import type { Project } from "@/share/types.d";
import NextjsIcon from "public/icons/nextjs.svg"
import jsIcon from "public/icons/javascript.svg"
import reactIcon from "public/icons/react.svg"
import tsIcon from "public/icons/typescript.svg"
import tailwindIcon from "public/icons/tailwindcss.svg"
import pythonIcon from "public/icons/python.svg"
import djangoIcon from "public/icons/django.svg"
import styledComponentsIcon from "public/icons/styledcomponents.svg"
import nodeIcon from "public/icons/node.svg"
import postgresqlIcon from "public/icons/postgresql.svg"
import twitchIcon from "public/icons/twitch.svg"

interface Props {
  project: {
    name: string;
    description: string;
    thumbnail: string,
    stackTech: string[]
  };

}
const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500/20 text-white",
    icon: jsIcon,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-blue-500/20 text-white",
    icon: tsIcon,
  },
  REACT: {
    name: "React",
    class: "bg-blue-300/20 text-white",
    icon: reactIcon,
  },
  NEXTJS: {
    name: "Nextjs",
    class: "bg-white/20 text-white",
    icon: NextjsIcon,
  },
  TAILWINDCSS: {
    name: "TailwindCss",
    class: "bg-teal-500/20 text-white",
    icon: tailwindIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-blue-500/20 text-white",
    icon: pythonIcon,
  },
  STYLED_COMPONENTS: {
    name: "Styled Components",
    class: "bg-stone-800 text-white",
    icon: styledComponentsIcon,
  },
  DJANGO: {
    name: "Django REST Framework",
    class: "bg-emerald-500/20 text-white",
    icon: djangoIcon,
  },
  POSTGRESQL: {
    name: "Postgresql",
    class: "bg-emerald-500/20 text-white",
    icon: postgresqlIcon,
  },
  NODEJS: {
    name: "Node js",
    class: "bg-emerald-500/20 text-white",
    icon: nodeIcon,
  }
}

const { project } = Astro.props;

---

<article class='flex items-start justify-start gap-8 overflow-hidden font-light'>
  <div class="w-full md:w-1/2">
    <figure class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img src={`/public/images/${project.thumbnail}`} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" alt="">
    </figure>
  </div>
  <div class="flex flex-col gap-4">
    <h2 class='font-bold'>{project.name}</h2>
    <p class='text-sm mb-2 w-full text-gray-400'>{project.description}</p>
    <footer>
      <ul class="flex items-center gap-2 flex-wrap">
        <li><span class="font-semibold capitalize tracking-wide">tecnologias:</span></li>
        {project.stackTech.map(tech => {
          const techKey = tech.replace(/\s+/g, '_').toUpperCase()
          const tag = TAGS[techKey]
          console.log(tag, techKey)
          return tag ? (
          <li class={`flex items-center gap-2`}>
              <span class={`inline-block rounded-md px-1 py-1 ${tag.class} text-xs`}>
                <img src={tag.icon} alt={tech} class="inline-block w-4 h-4 mr-2" />
                {tag.name}
              </span>
            </li>
          ) : null
        })}
      </ul>
    </footer>
  </div>
</article>
